@import url(reset.css);
@import url(contacts.css);
@import url(about.css);

:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --accent-color: #F51B1B;
}

* {
    box-sizing: border-box;
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--black-color);
    padding: 20px;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
    border-bottom: 1px solid var(--white-color);
}

main {
    margin-top: 48px;
    margin-bottom: 48px;
}

@media screen and (min-width: 700px) {
    body {
        padding: 40px;
    }
    
    header {
        position: absolute;
        right: 40px;
    }
    
    main {
        margin: 0;
        display: flex;
        gap: 20px;
        min-height: calc(100vh - 80px);
    }
}